<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<p><h2><strong>Our Apparel</strong></h2></p>
<hr>

<div class="container">
    <div class="row align-items-start">
        <% for(let p of products) { %>
            <!-- Product 1 -->
            <div class="col-md-4">
                <div class="card h-100">
                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="img/<%= imgcategory %>/<%= p.img %>.jpg"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
            
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title"><%= p.title %></h4>
                        <!--Text-->
                        <p class="card-text"><%= p.description %></p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="button" class="btn btn-light-blue btn-md">Add to nonexistant cart</button>
                    </div>
                </div>
                <!-- Card -->
            </div>
        <% } %>
    </div>
</div>

<%- include('layouts/footer.ejs') %>