<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<div class="container">
    <div class="row">
    <div class="col-md-12">
        <!-- Default form contact -->
        <form class="text-center border border-light p-5" action="/submitArticle" method="POST">
        <p class="h4 mb-4">Articles</p>
        <!-- Title -->
        <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Title" name="title" required>
        <!-- @Name -->
        <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name" name="name" required>
        <!-- Message -->
        <div class="form-group">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5" placeholder="Content" name="content"></textarea>
        </div>
        <!-- Send button -->
        <button class="btn btn-info btn-block" type="submit">Submit</button>
        </form>
        <!-- Default form contact -->
    </div>
    </div>
</div>

<br><br>
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Content</th>
            </tr>
            </thead>
            <tbody>
                <% for (let a of articles) { %>
                    <tr>
                        <td><%= a.title %></td>
                        <td><%= a.name %></td>
                        <td><%= a.date %></td>
                        <td><%= a.content %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    </div>
</div>

<%- include('layouts/footer.ejs') %>