<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>
        <div class="container">
            <br><h4><strong>Edit Profile Information</strong></h4><hr color="white">
            <label for="fname"><i class="fa fa-user"></i> First Name</label><br>
            <input type="text" id="fname" name="firstname" placeholder="John" required form="guest-form"
                value="<%= userInfo.fname %>"><br><br>
            <label for="fname"><i class="fa fa-user"></i> Last Name</label><br>
            <input type="text" id="lname" name="lastname" placeholder="Doe" required form="guest-form"
                value="<%= userInfo.lname %>"><br><br>
            <label for="email"><i class="fa fa-envelope"></i> Email</label><br>
            <input type="text" id="email" name="email" placeholder="john@example.com" required form="guest-form"
                value="<%= userInfo.email %>"><br><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required form="guest-form"
                value="<%= userInfo.password %>"><br><br>
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label><br>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street" required form="guest-form"
                value="<%= userInfo.addressInfo.address %>"><br><br>
            <label for="city"><i class="fa fa-institution"></i> City</label><br>
            <input type="text" id="city" name="city" placeholder="New York" required form="guest-form"
                value="<%= userInfo.addressInfo.city %>"><br><br>
            <label for="state">State</label><br>
            <select required form="guest-form">
                <option value="<%= userInfo.state %>">
                    <%= userInfo.addressInfo.state %>
                </option>
                <option value="Alabama">Alabama</option>
                <option value="Alaska">Alaska</option>
                <option value="Arizona">Arizona</option>
                <option value="Arkansas">Arkansas</option>
                <option value="California">California</option>
                <option value="Colorado">Colorado</option>
                <option value="Connecticut">Connecticut</option>
                <option value="Delaware">Delaware</option>
                <option value="District Of Columbia">District Of Columbia</option>
                <option value="Florida">Florida</option>
                <option value="Georgia">Georgia</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Idaho">Idaho</option>
                <option value="Illinois">Illinois</option>
                <option value="Indiana">Indiana</option>
                <option value="Iowa">Iowa</option>
                <option value="Kansas">Kansas</option>
                <option value="Kentucky">Kentucky</option>
                <option value="Louisiana">Louisiana</option>
                <option value="Maine">Maine</option>
                <option value="Maryland">Maryland</option>
                <option value="Massachusetts">Massachusetts</option>
                <option value="Michigan">Michigan</option>
                <option value="Minnesota">Minnesota</option>
                <option value="Mississippi">Mississippi</option>
                <option value="Missouri">Missouri</option>
                <option value="Montana">Montana</option>
                <option value="Nebraska">Nebraska</option>
                <option value="Nevada">Nevada</option>
                <option value="New Hampshire">New Hampshire</option>
                <option value="New Jersey">New Jersey</option>
                <option value="New Mexico">New Mexico</option>
                <option value="New York">New York</option>
                <option value="North Carolina">North Carolina</option>
                <option value="North Dakota">North Dakota</option>
                <option value="Ohio">Ohio</option>
                <option value="Oklahoma">Oklahoma</option>
                <option value="Oregon">Oregon</option>
                <option value="Pennsylvania">Pennsylvania</option>
                <option value="Rhode Island">Rhode Island</option>
                <option value="South Carolina">South Carolina</option>
                <option value="South Dakota">South Dakota</option>
                <option value="Tennessee">Tennessee</option>
                <option value="Texas">Texas</option>
                <option value="Utah">Utah</option>
                <option value="Vermont">Vermont</option>
                <option value="Virginia">Virginia</option>
                <option value="Washington">Washington</option>
                <option value="West Virginia">West Virginia</option>
                <option value="Wisconsin">Wisconsin</option>
                <option value="Wyoming">Wyoming</option>
            </select><br><br>
            <label for="zip">Zip</label><br>
            <input type="text" id="zip" name="zip" placeholder="10001" required form="guest-form"
                value="<%= userInfo.addressInfo.zip %>"><br><br>
        </div>

        <%- include('layouts/footer.ejs') %>