<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="btn-outline-primary text-center" style="padding-top: 15px; padding-bottom: 15px;">
                <strong>Success! Your order has been processed. Thank you for shopping at The Soup Store.</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Quantity</th>
                        <th scope="col" class="text-right">Unit Price</th>
                        <th scope="col" class="text-right">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% let totalPrice = 0; %>
                    <% for (let p of products) { %>
                    <tr>
                        <td><a href="img/<%= p.category %>/<%= p.img %>.jpg"><img class="cart-preview" src="/img/<%= p.category %>/<%= p.img %>.jpg"></a></td>
                        <td><%= p.title %></td>
                        <td>
                            <label><%= p.quantity %></label>
                        </td>
                        <td class="text-right">$<%= (p.price).toFixed(2) %></td>
                        <% totalPrice += (p.quantity * p.price); %>
                        <td class="text-right"><strong>$<%= (p.quantity * p.price).toFixed(2) %></strong></td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <% let shipping = 0; %>
                    <tr>
                        <td colspan="4" class="text-right">Subtotal:</td>
                        <td class="text-right">
                            <strong>$<%= totalPrice.toFixed(2) %></strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">Delivery Method:</td>
                        <td class="text-right"><%= shipCost %></td>
                        <td class="text-right">
                            <% if (shipCost == 'Regular') { shipping = 25; %>
                            <strong>$25.00</strong>
                            <% } %>
                            <% if (shipCost == 'Express') { shipping = 35; %>
                            <strong>$35.00</strong>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">6.25% Tax:</td>
                        <td class="text-right">
                            <strong>$<%= ((totalPrice + shipping) * .0625).toFixed(2) %></strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">Grand Total:</td>
                        <td class="text-right">
                            <strong>$<%= (totalPrice + ((totalPrice + shipping) * .0625) + shipping).toFixed(2) %></strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right" colspan="5">
                            <input type="submit" class="btn btn-default btn-rounded waves-effect" value="Place Order">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<%- include('layouts/footer.ejs') %>