<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<div class="container">
    <br><h4><strong><%= pageTitle %></strong></h4><hr color="white">
    <div class="row">
        <div class="col-9">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Quantity</th>
                        <th scope="col" class="text-right">Unit Price</th>
                        <th scope="col" class="text-right">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% let totalPrice = 0; %>
                    <% for (let p of products) { %>
                    <tr>
                        <td><a href="img/<%= p.category %>/<%= p.img %>.jpg"><img class="cart-preview" src="/img/<%= p.category %>/<%= p.img %>.jpg"></a></td>
                        <td><%= p.title %></td>
                        <td>
                            <%= p.quantity %>
                        </td>
                        <td class="text-right">$<%= (p.price).toFixed(2) %></td>
                        <% totalPrice += (p.quantity * p.price); %>
                        <td class="text-right"><strong>$<%= (p.quantity * p.price).toFixed(2) %></strong></td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-right">Total:</td>
                        <td colspan="2"><strong>$<%= totalPrice.toFixed(2) %></strong></td>
                    </tr>
                    <tr>
                        <td>
                            <script>
                                function derp(browser) {
                                  document.getElementById("answer").innerHTML=browser;
                                }
                                </script>
                                </head>
                                <body>
                                
                                <p>Choose a shipping option:</p>
                                <% let shipping = 0; %>
                                <form>
                                <input type="radio" name="shipping" onclick="derp(this.value)" value="25">Regular<br><% shipping = 25; %>
                                <input type="radio" name="shipping" onclick="derp(this.value)" value="35">Express<br><% shipping = 35; %>
                                </form>
                                <br>
                                <p id="answer"></p>
                        </td>
                        <td class="text-right">Shipping Total:</td>
                        <td><%= (totalPrice + shipping).toFixed(2) %></td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <h4>Billing Address</h4>
                        <label for="fname"><i class="fa fa-user"></i> Full Name</label><br>
                        <input type="text" id="fname" name="firstname" placeholder="John M. Doe"><br><br>
                        <label for="email"><i class="fa fa-envelope"></i> Email</label><br>
                        <input type="text" id="email" name="email" placeholder="john@example.com"><br><br>
                        <label for="adr"><i class="fa fa-address-card-o"></i> Address</label><br>
                        <input type="text" id="adr" name="address" placeholder="542 W. 15th Street"><br><br>
                        <label for="city"><i class="fa fa-institution"></i> City</label><br>
                        <input type="text" id="city" name="city" placeholder="New York"><br><br>
                        <label for="state">State</label><br>
                        <input type="text" id="state" name="state" placeholder="NY"><br><br>
                        <label for="zip">Zip</label><br>
                        <input type="text" id="zip" name="zip" placeholder="10001"><br><br>
                      </td>
                      <td colspan="3">
                        <h4>Payment</h4>
                          <label for="fname">Accepted Cards</label>
                          <div class="icon-container">
                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            <i class="fa fa-cc-discover" style="color:orange;"></i>
                          </div>
                          <label for="cname">Name on Card</label><br>
                          <input type="text" id="cname" name="cardname" placeholder="John More Doe"><br><br>
                          <label for="ccnum">Credit card number</label><br>
                          <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444"><br><br>
                          <label for="expmonth">Exp Month</label><br>
                          <input type="text" id="expmonth" name="expmonth" placeholder="September"><br><br>
                          <div class="row">
                            <div class="col-9">
                              <label for="expyear">Exp Year</label><br>
                              <input type="text" id="expyear" name="expyear" placeholder="2018"><br><br>
                            </div>
                            <div class="col-9">
                              <label for="cvv">CVV</label><br>
                              <input type="text" id="cvv" name="cvv" placeholder="352"><br><br>
                            </div>
                          </div>
                        </div>
                      <label>
                        <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                      </label>
                      <!--Shipping and Billing-->
                      </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">6.25% Tax:</td>
                        <td colspan="2"><strong>$<%= (totalPrice * .0625).toFixed(2) %></strong></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">Total:</td>
                        <td><strong>$<%= (totalPrice * 1.0625).toFixed(2) %></strong></td>
                        <td><a href="#" style="background-color: green;" type="submit" class="btn btn-rounded waves-effect">Checkout</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<%- include('layouts/footer.ejs') %>