<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<script>
    function hackThisPlease( shippingCost ){
        var subtotalDisplay = document.getElementById("subtotalDisplay");
        var shippingDisplay = document.getElementById("shippingDisplay");
        var taxDisplay = document.getElementById("taxDisplay")
        var totalDisplay = document.getElementById("totalDisplay")

        var subtotal = parseInt( subtotalDisplay.innerHTML.substring(1) );
      
        var shippingResult = shippingCost;
        shipCost = shippingResult;
        var taxResult = (subtotal + shippingResult) * 0.0625;
        var totalResult =  subtotal + shippingResult + taxResult;

        shippingDisplay.innerHTML = "$" + shippingResult.toFixed(2);
        taxDisplay.innerHTML = "$" + taxResult.toFixed(2);
        totalDisplay.innerHTML = "$" + totalResult.toFixed(2);
    }
</script>

<div class="container">
    <br><h4><strong><%= pageTitle %></strong></h4><hr color="white">
    <div class="row">
        <form class="text-center border border-light p-5" action="/finalCheckout" method="POST">
            <div class="sub-entry">
                <p class="h4">Billing Address</p>
                <% if (userInfo == null) { %>
                <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" name='email' required>
                <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Full Name" name='name' required>
                <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Address" name='address' required>
                <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="City" name='city' required>
                <select class="browser-default custom-select mb-4" name="state" required>
                    <option value disabled>Select Your State</option>
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="District Of Columbia">District Of Columbia</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                </select><br>
                <input type="number" id="defaultContactFormName" class="form-control mb-4" placeholder="Zip" name="zip">
                <% } else { %>
                <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" name='email' required value="<%= userInfo.email %>">
                <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Full Name" name='name' required value="<%= userInfo.fname %> <%= userInfo.lname %>">
                <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Address" name='address' required value="<%= userInfo.addressInfo.address %>">
                <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="City" name='city' required value="<%= userInfo.addressInfo.city %>">
                <label class="active">State</label>
                <select class="browser-default custom-select mb-4" name="state" required>
                    <option value disabled>Select Your State</option>
                    <option value="<%= userInfo.addressInfo.state %>" selected><%= userInfo.addressInfo.state %></option>
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="District Of Columbia">District Of Columbia</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                </select><br>
                <input type="number" id="defaultContactFormName" class="form-control mb-4" placeholder="Zip" name="zip" value="<%= userInfo.addressInfo.zip %>">
                <% } %>
            </div>
            <div class="sub-entry2">
                <p class="h4">Payment Information</p>
                <select class="browser-default custom-select mb-4" name="ctype" required>
                    <option value disabled>Select Card Type</option>
                    <option value="Visa">Visa</option>
                    <option value="American Express">American Express</option>
                    <option value="Mastercard">Mastercard</option>
                    <option value="Discover">Discover</option>
                </select><br>
                <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Name on Card" name='cname' required>
                <input type="number" id="defaultContactFormName" class="form-control mb-4" placeholder="Credit Card Number" name='cnumber' required>
                <select class="browser-default custom-select mb-4" name="cmonth" required>
                    <option value disabled>Card Exp Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select><br>
                <select class="browser-default custom-select mb-4" name="cyear" required>
                    <option value disabled>Card Exp </option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                    <option value="2031">2031</option>
                    <option value="2032">2032</option>
                    <option value="2033">2033</option>
                    <option value="2034">2034</option>
                    <option value="2035">2035</option>
                    <option value="2036">2036</option>
                    <option value="2037">2037</option>
                    <option value="2038">2038</option>
                    <option value="2039">2039</option>
                    <option value="2040">2040</option>
                    <option value="2041">2041</option>
                </select><br>
                <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="CVV" name='ccvv' required>
            </div>
            <div class="sub-entry3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Quantity</th>
                            <th scope="col" class="text-right">Unit Price</th>
                            <th scope="col" class="text-right">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let totalPrice = 0; %>
                        <% for (let p of products) { %>
                        <tr>
                            <td><a href="img/<%= p.category %>/<%= p.img %>.jpg"><img class="cart-preview" src="/img/<%= p.category %>/<%= p.img %>.jpg"></a></td>
                            <td><%= p.title %></td>
                            <td>
                                <label><%= p.quantity %></label>
                            </td>
                            <td class="text-right">$<%= (p.price).toFixed(2) %></td>
                            <% totalPrice += (p.quantity * p.price); %>
                            <td class="text-right"><strong>$<%= (p.quantity * p.price).toFixed(2) %></strong></td>
                        </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"><a href="/view-cart"><button class="btn btn-primary btn-rounded waves-effect">Edit Cart</button></a></td>
                            <td colspan="2" class="text-right">Subtotal:</td>
                            <td class="text-right">
                                <strong id="subtotalDisplay">$<%= totalPrice.toFixed(2) %></strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right">Delivery Method:</td>
                            <td class="text-right">
                                <form>
                                    <input type="radio" name="shipping" value="Regular" checked onclick="hackThisPlease(25)">&nbsp;Regular<br>
                                    <input type="radio" name="shipping" value="Express" onclick="hackThisPlease(35)">&nbsp;Express<br>
                                </form>
                            </td>
                            <td class="text-right">
                                <strong id="shippingDisplay"><script>hackThisPlease(25)</script></strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">6.25% Tax:</td>
                            <td class="text-right">
                                <strong id="taxDisplay">
                                    <% let taxPrice = (totalPrice+25) * 0.0625 %>
                                    $<%= taxPrice.toFixed(2) %>
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">Grand Total:</td>
                            <td class="text-right">
                                <strong id="totalDisplay">$<%= ( totalPrice+25+taxPrice ).toFixed(2) %></strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="5">
                                <input type="submit" class="btn btn-default btn-rounded waves-effect" value="Place Order">
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>
    </div>
</div>

<%- include('layouts/footer.ejs') %>