<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<div class="container">
    <h2><strong><%= pageTitle %></strong></h2><hr color="white">
    <div class="row">
        <% for(let p of products) { %>
        <div class="col-md-4">
            <!-- Card -->
            <div class="card" style="margin-bottom: 25px;">
                <!-- Card image -->
                <a href="img/<%= imgcategory %>/<%= p.img %>.jpg"><img class="card-img-top showcase" src="/img/<%= imgcategory %>/<%= p.img %>.jpg" alt="Card image cap"></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a href="/vehicles/<%= p._id %>"><h4 class="card-title" style="min-height: 0px;"><%= p.title %></h4></a>
                    <h5 class="card-title"><a>$<%= p.price %></a></h5>
                    <!-- Text -->
                    <p class="card-text" style="min-height: 45px;"><%= p.description %></p>
                    <!-- Button -->
                    <form action="/add-cart" method="POST">
                        <input type="hidden" name="id" value="<%= p._id %>">
                        <input type="hidden" name="catId" value="vehicles">
                        <button type="submit" name="btn btn-outline-default btn-rounded waves-effect">Add to nonexistant cart</button>
                    </form>
                </div>
            </div>
            <!-- Card -->
        </div>
        <% } %>
    </div>
</div>

<%- include('layouts/footer.ejs') %>