<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<div class="container">
    <br><h4><strong><%= pageTitle %></strong></h4><hr color="white">
    <div class="col-md-9">
        <table class="table col-md-9">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody>
                <% let totalPrice = 0; %>
                <% for (let p of products) { %>
                <tr>
                    <td><a href="img/<%= p.category %>/<%= p.img %>.jpg"><img class="card-img-top" src="/img/<%= p.category %>/<%= p.img %>.jpg"></a></td>
                    <td><%= p.title %></td>
                    <td>
                        <!-- START Quantity magic stuff -->
                        <form id="quantity-<%= p.itemId %>" action="/change-cart-quantity/<%= p.itemId %>" method="POST">
                            <input type="number" class="hide-arrows" name="newQuantity"
                                min="1" max="999" size="2" value="<%= p.quantity %>"
                                onchange="document.getElementById('quantity-<%= p.itemId %>').submit();"
                            >
                            <input type="hidden" name="itemId" value="<%= p.itemId %>">
                        </form>
                        <!-- END Quantity magic stuff -->
                    </td>
                    <td>$<%= (p.price).toFixed(2) %></td>
                    <td><strong>$<%= (p.quantity * p.price).toFixed(2) %></strong></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('layouts/footer.ejs') %>