<%- include('layouts/header.ejs') %>
<%- include('layouts/navbar.ejs') %>

<script>

    function hackThisPlease( shippingCost ){
        var subtotalDisplay = document.getElementById("subtotalDisplay");
        var shippingDisplay = document.getElementById("shippingDisplay");
        var taxDisplay = document.getElementById("taxDisplay")
        var totalDisplay = document.getElementById("totalDisplay")

        var subtotal = parseInt( subtotalDisplay.innerHTML.substring(1) );
        
        var shippingResult = shippingCost;
        var taxResult = (subtotal + shippingResult) * 0.0625;
        var totalResult =  subtotal + shippingResult + taxResult;

        shippingDisplay.innerHTML = "$" + shippingResult.toFixed(2);
        taxDisplay.innerHTML = "$" + taxResult.toFixed(2);
        totalDisplay.innerHTML = "$" + totalResult.toFixed(2);
    }

</script>

<div class="container">
    <br><h4><strong><%= pageTitle %></strong></h4><hr color="white">
    <div class="row">
        <div class="col-9">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Quantity</th>
                        <th scope="col" class="text-right">Unit Price</th>
                        <th scope="col" class="text-right">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% let totalPrice = 0; %>
                    <% for (let p of products) { %>
                    <tr>
                        <td><a href="img/<%= p.category %>/<%= p.img %>.jpg"><img class="cart-preview" src="/img/<%= p.category %>/<%= p.img %>.jpg"></a></td>
                        <td><%= p.title %></td>
                        <!-- START Quantity magic stuff -->
                        <td>
                            <form id="quantity-<%= p.itemId %>" action="/change-cart-quantity/<%= p.itemId %>" method="POST">
                                <input type="number" class="hide-arrows" name="newQuantity"
                                    min="1" max="999" size="2" value="<%= p.quantity %>"
                                    onchange="document.getElementById('quantity-<%= p.itemId %>').submit();"
                                >
                                <input type="hidden" name="itemId" value="<%= p.itemId %>">
                            </form>
                        </td>
                        <!-- END Quantity magic stuff -->
                        <td class="text-right">$<%= (p.price).toFixed(2) %></td>
                        <% totalPrice += (p.quantity * p.price); %>
                        <td class="text-right"><strong>$<%= (p.quantity * p.price).toFixed(2) %></strong></td>
                        <td><a href="/remove/<%= p.itemId %>" type="submit" class="btn btn-outline-primary btn-rounded waves-effect">Delete</a></td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-right">Subtotal:</td>
                        <td class="text-right">
                            <strong id="subtotalDisplay">$<%= totalPrice.toFixed(2) %></strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">Delivery Method:</td>
                        <td class="text-right">
                            <form>
                                <input type="radio" name="shipping" value="Regular" checked onclick="hackThisPlease(25)">&nbsp;Regular<br>
                                <input type="radio" name="shipping" value="Express" onclick="hackThisPlease(35)">&nbsp;Express<br>
                            </form>
                        </td>
                        <td class="text-right">
                            <strong id="shippingDisplay"><script>hackThisPlease(25)</script></strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">6.25% Tax:</td>
                        <td class="text-right">
                            <strong id="taxDisplay">
                                <% let taxPrice = (totalPrice+25) * 0.0625 %>
                                $<%= taxPrice.toFixed(2) %>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">Grand Total:</td>
                        <td class="text-right">
                            <strong id="totalDisplay">$<%= ( totalPrice+25+taxPrice ).toFixed(2) %></strong>
                        </td>
                        <td><a style="background-color: green;" class="btn btn-rounded waves-effect" id="signInBtn2">Checkout</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<%- include('layouts/signIn.ejs') %>
<script>
    var modal = document.getElementById("signIn");
    var btn = document.getElementById("signInBtn2");
    var span = document.getElementsByClassName("close")[0];
    
    btn.onclick = function() {
        modal.style.display = "block";
    }
    
    span.onclick = function() {
        modal.style.display = "none";
    }
    
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<%- include('layouts/footer.ejs') %>